config==0.4.0
Flask==1.0.2
flask_sqlalchemy==2.3.2
flask_wtf==0.14.2
sqlalchemy_migrate==0.11.0
WTForms==2.2.1
bleach==1.5.0

certifi==2017.11.5

click==6.7

enum34==1.1.6

h5py==2.7.1

html5lib==0.9999999

itsdangerous==0.24

Jinja2==2.10

tensorflow
numpy
keras
nltk
gunicorn